Source: simon
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               kdelibs5-dev,
               kdepimlibs5-dev,
               libboost1.54-dev,
               libopencv-dev,
               libpocketsphinx-dev,
               libqaccessibilityclient-dev,
               libqtwebkit-dev,
               libqwt-dev,
               libsamplerate0-dev,
               libsphinxbase-dev,
               libxtst-dev,
               pkg-kde-tools
Standards-Version: 3.9.5
Homepage: http://www.simon-listens.org/

Package: simon
Architecture: any
Depends: simon-data (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: open-source speech recognition program
 Simon is an open-source speech recognition program and replaces the
 mouse and keyboard.  It is in development for physically disabled
 people and seniors to give them the possibility to chat, to write
 e-mails, to surf the internet, to do internet-banking and much more.
 It is designed to be very flexible and allows customization for any
 application where speech recognition is needed.

Package: simon-data
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: open-source speech recognition program - data files
 Simon is an open-source speech recognition program and replaces the
 mouse and keyboard.  It is in development for physically disabled
 people and seniors to give them the possibility to chat, to write
 e-mails, to surf the internet, to do internet-banking and much more.
 It is designed to be very flexible and allows customization for any
 application where speech recognition is needed.
 .
 This package contains the data files.
